@use '@style/abstracts' as a;

.title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 40px;
}

.title {
    @include a.typhography('tit-02');
}

.welcome_message {
    @include a.typhography('body-01');
    color: a.$gray-color;
}
