@use "@/style/color";
@mixin backgroundAnimation {
  animation: backgroundAnimation 1s infinite alternate ease-in-out;
}

@keyframes backgroundAnimation {
  0% {
    background-color: color.$background-color;
  }
  100% {
    background-color: color.$light-gray-color;
  }
}
