@use '@style/abstracts' as a;

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10%;

    // 비밀번호를 잊어버리셨나요?와 공간을 떨어뜨리기 위한 margin-bottom
    padding-bottom: 10%;

    @include a.typhography('body-01');
}
