@use "@style/abstracts" as a;

$form_wrapper_gap: 10%;

.form_wrapper {
  display: flex;
  flex-direction: column;

  gap: $form_wrapper_gap;
  padding-bottom: 10%;
  @include a.typhography("body-01");
}
