@use "@/style/abstracts" as a;
.wrapper {
  display: flex;

  padding: 4px 12px;

  background-color: a.$white-color;

  border-radius: a.$border-radius;

  cursor: pointer;

  transition: box-shadow 0.25s ease-in-out;

  box-shadow: a.$basic-shadow;

  &:hover {
    box-shadow: a.$hover-shadow;
  }

  @include a.media-query("small") {
    height: 60px;

    justify-content: space-between;
    align-items: center;
  }

  @include a.media-query("middle") {
    width: 40%;
    height: 100px;

    align-items: flex-end;
  }

  @include a.media-query("large") {
    width: 20%;
    height: 100px;

    align-items: flex-end;
  }
}
