@use '@style/abstracts' as a;
.slide_icon {
    @include a.typhography('body-01');
    color: a.$gray-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    @include a.typhography('sub-02');
    animation: downAnimation 1.5s infinite alternate ease-in-out;
}

@keyframes downAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}
