@use "@/style/color";
@use "@/style/spacing";
@use "@/style/shadow";

.link {
  border-radius: 4px;
  gap: spacing.$spacing-value-1;
  cursor: pointer;

  display: flex;
  transition: color 0.2s, border 0.2s, background-color 0.2s,
    box-shadow 0.2s ease-in-out;

  &.block {
    width: 100%;
    display: flex;
  }

  &.inline {
    display: inline-flex;
  }

  &.text-left {
    justify-content: flex-start;
  }

  &.text-center {
    justify-content: center;
  }

  &.text-right {
    justify-content: flex-end;
  }

  &.primary {
    border: 1px solid color.$primary-color;
    color: color.$primary-color;

    &:hover {
      color: color.$primary-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$primary-hover-color;
    }

    &:active {
      color: color.$primary-active-color;
      border-color: color.$primary-active-color;
    }
  }

  &.black {
    border: 1px solid color.$black-color;
    color: color.$black-color;

    &:hover {
      color: color.$black-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$black-hover-color;
    }

    &:active {
      color: color.$black-active-color;
      border-color: color.$black-active-color;
    }
  }

  &.gray {
    border: 1px solid color.$gray-color;
    color: color.$gray-color;

    &:hover {
      color: color.$gray-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$gray-hover-color;
    }

    &:active {
      color: color.$gray-active-color;
      border-color: color.$gray-active-color;
    }
  }

  &.light-gray {
    color: color.$light-gray-color;
    border: 1px solid color.$light-gray-color;

    &:hover {
      color: color.$light-gray-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$light-gray-hover-color;
    }

    &:active {
      color: color.$light-gray-active-color;
      border-color: color.$light-gray-active-color;
    }
  }

  &.red {
    color: color.$red-color;
    border: 1px solid color.$red-color;

    &:hover {
      color: color.$red-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$red-hover-color;
    }

    &:active {
      color: color.$red-active-color;
      border-color: color.$red-active-color;
    }
  }

  &.yellow {
    color: color.$yellow-color;
    border: 1px solid color.$yellow-color;

    &:hover {
      color: color.$yellow-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$yellow-hover-color;
    }

    &:active {
      color: color.$yellow-active-color;
      border-color: color.$yellow-active-color;
    }
  }

  &.green {
    color: color.$green-color;
    border: 1px solid color.$green-color;

    &:hover {
      color: color.$green-hover-color;
      box-shadow: shadow.$basic-shadow;
      border-color: color.$green-hover-color;
    }

    &:active {
      color: color.$green-active-color;
      border-color: color.$green-active-color;
    }
  }

  &.white {
    border: 1px solid color.$white-color;

    &:hover {
      box-shadow: shadow.$basic-shadow;
    }

    color: color.$text-color;
  }

  &.border-thin {
    border-width: 1px;
  }

  &.border-medium {
    border-width: 2px;
  }

  &.border-thick {
    border-width: 4px;
  }

  &.disabled {
    color: color.$light-gray-color;
    border-color: color.$light-gray-color;
    pointer-events: none;
  }
}
