@use '@style/abstracts' as a;

$background-top-bottom-padding: 50px;
$back-groupd-side-padding: 100px;

$background-max-width: 1600px;
$background-width: calc(100dvw - ($back-groupd-side-padding * 2));
$background-height: calc(100dvh - ($background-top-bottom-padding * 2));

$slide_intro_wrapper_max_width: 1100px;
$slide_intro_wrapper_min_width: 400px;

$auth_wrapper_width: 100%;
$auth_wrapper_padding: 10px;
$auth_wrapper_max_width: 500px;
$auth_wrapper_min_width: 300px;

.background_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    @include a.media-query('small') {
        background-color: green;
    }

    @include a.media-query('middle') {
        background-color: orange;
        width: $background-width;
        height: $background-height;
        padding: $background-top-bottom-padding $back-groupd-side-padding;
    }

    @include a.media-query('large') {
        background-color: blue;
        height: $background-height;
        padding: $background-top-bottom-padding 0px;
    }
}

.slide_intro_wrapper {
    background-color: aliceblue;
    max-width: 1100px;
    min-width: 400px;
    width: 100%;

    @include a.media-query('small') {
        display: none;
    }
    @include a.media-query('middle') {
        display: block;
        width: 100%;
    }
}

.auth_wrapper {
    max-width: $auth_wrapper_max_width;
    min-width: $auth_wrapper_min_width;

    @include a.media-query('small') {
        width: 100%;
        padding: $auth_wrapper_padding;
    }
}
