@use '@style/abstracts' as a;

.group_category_wrapper {
    display: flex;
    flex-direction: column;
    gap: a.$group-gap;

    @include a.typhography('body-01');
}

.no_page {
    @include a.typhography('body-02');
    color: a.$gray-color;

    margin-left: a.$pageName-margin-left;

    padding: a.$pageName-padding;
}

.group_title_wrapper {
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
}

.group_title_button_wrapper {
    position: absolute;
    right: 0;
    display: flex;
    gap: 8px;

    button {
        @include a.typhography('body-01');

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: a.$gray-color;
        }
    }
}

.group_title_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    color: a.$gray-color;
    @include a.typhography('sub-02');

    &.current {
        color: a.$primary-color;
    }
}

.group_title {
    position: relative;
    left: 0;

    padding: 4px;

    display: block;

    border-radius: 4px;

    transition: left 0.25s;

    @include a.typhography('sub-02');

    &:hover {
        left: 5px;
    }

    &.current {
        color: a.$primary-color;
    }
}

.create_group_button {
    padding: 1em;

    display: flex;
    justify-content: center;
    gap: 4px;

    border-radius: 4px;

    background-color: transparent;

    transition: background-color 0.25s;

    @include a.typhography('body-01');
    color: a.$text-color;

    &_icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        background-color: a.$light-gray-color;
    }
}
