@use '@style/abstracts' as a;

.group_category_wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @include a.typhography('body-01');
}

.group_title {
    @include a.typhography('sub-02');
    border-radius: 4px;
    display: block;

    &.current {
        color: a.$primary-color;
        pointer-events: none;
    }

    &:hover {
        background-color: a.$light-gray-color;
    }
}
