@use '@style/abstracts' as a;

.group_category_wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @include a.typhography('body-01');
}

.group_title {
    @include a.typhography('body-01-b');
}
