@use "@style/abstracts" as a;

.button {
  padding: 0.2em;

  background: none;

  box-shadow: a.$basic-shadow;

  border: 1px solid a.$background-color;
  border-radius: 4px;
  @include a.typhography("sub-02");

  &:hover {
    box-shadow: a.$hover-shadow;
  }
}
