@use "@/style/abstracts" as a;

@mixin avatar-basic($size) {
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  font-weight: 500;

  // 글자에 따라서 위에 닿는 경우가 있어서 padding-top을 줌
  padding-top: 0.1em;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  background-color: a.$primary-color;

  color: a.$white-color;

  &.title-01 {
    @include a.typhography("tit-01");
    @include avatar-basic(6.4rem);
  }
  &.title-02 {
    @include a.typhography("tit-02");
    @include avatar-basic(4.8rem);
  }
  &.title-03 {
    @include a.typhography("tit-03");

    @include avatar-basic(3.6rem);
  }
  &.subTitle-01 {
    @include a.typhography("sub-01");

    @include avatar-basic(2.4rem);
  }
  &.subTitle-02 {
    @include a.typhography("sub-02");

    @include avatar-basic(2.1rem);
  }
  &.body-01 {
    @include a.typhography("body-01");

    @include avatar-basic(1.6rem);
  }
  &.body-02 {
    @include a.typhography("body-02");

    @include avatar-basic(1.4rem);
  }

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
