@use "@/style/fontSize";
@use "@/style/color";

.avatar {
  display: flex-inline;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  background-color: color.$primary-color;

  color: color.$white-color;

  font-weight: 500;

  cursor: pointer;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;

  transition: background-color 0.25s ease-in-out;

  &.small {
    @include fontSize.font-size("body-01");
    width: 3rem;
    height: 3rem;
  }

  &.medium {
    @include fontSize.font-size("sub-01");
    width: 5rem;
    height: 5rem;
  }

  &.large {
    @include fontSize.font-size("tit-03");
    width: 7rem;
    height: 7rem;
  }

  &:hover {
    background-color: color.$primary-hover-color;
  }

  &:active {
    background-color: color.$primary-active-color;
  }

  &:disabled {
    background-color: color.$light-gray-color;
    pointer-events: none;
  }
}
