@use "@style/abstracts" as a;

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  user-select: none;
}

.title {
  @include a.media-query("small") {
    @include a.typhography("tit-03");
  }

  @include a.media-query("middle") {
    @include a.typhography("tit-02");
  }

  @include a.media-query("large") {
    @include a.typhography("tit-02");
  }
}

.sub-title {
  color: a.$gray-button-color;

  @include a.media-query("small") {
    @include a.typhography("body-02");
  }
  @include a.media-query("middle") {
    @include a.typhography("body-01");
  }
}
