@use "@style/abstracts" as a;

.loading_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon_and_bar {
  display: flex;
  gap: 8px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4e6eb;
  opacity: 30%;
  transition: opacity 0.5s ease-in-out;
  animation: opacityAnimation 1.5s infinite;
}
.bar {
  width: 100%;
  background-color: #e4e6eb;
  border-radius: 4px;
  height: 30px;
  opacity: 30%;
  transition: opacity 0.5s ease-in-out;
  animation: opacityAnimation 1.8s infinite;
}

.short_bar_70 {
  width: 70%;
  background-color: #e4e6eb;
  border-radius: 4px;
  height: 20px;
  opacity: 30%;
  transition: opacity 0.5s ease-in-out;
  animation: opacityAnimation 2s infinite;
}

.short_bar_30 {
  width: 30%;
  background-color: #e4e6eb;
  border-radius: 4px;
  height: 20px;
  opacity: 30%;
  transition: opacity 0.5s ease-in-out;
  animation: opacityAnimation 2.2s infinite;
}

.short_bar_50 {
  width: 50%;
  background-color: #e4e6eb;
  border-radius: 4px;
  height: 20px;
  opacity: 30%;
  transition: opacity 0.5s ease-in-out;
  animation: opacityAnimation 2.5s infinite;
}

@keyframes opacityAnimation {
  0% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
}
