@use '@style/abstracts' as a;

.button {
    display: flex;
    padding: 0.2em;
    border-radius: 4px;
    box-shadow: a.$basic-shadow;
    background: none;

    border: 1px solid a.$background-color;
    @include a.typhography('sub-02');

    &:hover {
        box-shadow: a.$hover-shadow;
    }
}
