@use "./palettes" as p;
@use "./functions" as f;

// Special Colors
$white-color: #fff;
$background-color: #fbfbfb;
$text-color: f.base(p.$black-palette);
$shadow-basic-color: #efefef;
$modal-background-color: rgba(143, 143, 143, 0.5);

// Primary Color
$primary-color: f.base(p.$primary-palette);
$primary-hover-color: f.light(p.$primary-palette);
$primary-active-color: f.dark(p.$primary-palette);

// Gray Color
$gray-color: f.base(p.$gray-palette);
$gray-hover-color: f.light(p.$gray-palette);
$gray-active-color: f.dark(p.$gray-palette);

// Light Gray Color
$light-gray-color: f.base(p.$light-gray-palette);
$light-gray-hover-color: f.light(p.$light-gray-palette);
$light-gray-active-color: f.dark(p.$light-gray-palette);

// Red Color
$red-color: f.base(p.$red-palette);
$red-hover-color: f.light(p.$red-palette);
$red-active-color: f.dark(p.$red-palette);

// Yellow Color
$yellow-color: f.base(p.$yellow-palette);
$yellow-hover-color: f.light(p.$yellow-palette);
$yellow-active-color: f.dark(p.$yellow-palette);

// Green Color
$green-color: f.base(p.$green-palette);
$green-hover-color: f.light(p.$green-palette);
$green-active-color: f.dark(p.$green-palette);

// default Color
$default-color: f.base(p.$black-palette);
$default-hover-color: f.light(p.$black-palette);
$default-active-color: f.dark(p.$black-palette);
