$primary-color: #2c5695;
$primary-hover-color: #3867ae;
$primary-active-color: #254a81;

$white-color: #fff;

$back-ground-color: #fbfbfb;
$text-color: #333333;

$gray-color: #8b8b8b;
$light-gray-color: #e2e2e2;
$shadow-color: #efefef;

$error-color: #ff9a9a;
$loading-color: #ffef9a;
$success-color: #54b952;
