//Media Query Mixin
$break-points: (
    'small': 320px,
    'middle': 768px,
    'large': 1100px,
    'very-large': 1500px,
);

@mixin media-query($name) {
    @if (not map-has-key($break-points, $name)) {
        @error 'breakpoint값을 확인해주세요';
    }

    $value: map-get($break-points, $name);

    @media (min-width: $value) {
        @content;
    }
}

//Typhography Mixin
$typhography-map: (
    'tit-01': (
        size: 6.4rem,
        weight: 800,
        line-height: 130%,
    ),
    'tit-02': (
        size: 4.8rem,
        weight: 800,
        line-height: 130%,
    ),
    'tit-03': (
        size: 3.6rem,
        weight: 800,
        line-height: 130%,
    ),
    'sub-01': (
        size: 2.4rem,
        weight: 700,
        line-height: 120%,
    ),
    'sub-02': (
        size: 2.1rem,
        weight: 700,
        line-height: 120%,
    ),
    'body-01-b': (
        size: 1.6rem,
        weight: 700,
        line-height: 150%,
    ),
    'body-02-b': (
        size: 1.4rem,
        weight: 700,
        line-height: 150%,
    ),
    'body-01': (
        size: 1.6rem,
        weight: 500,
        line-height: 150%,
    ),
    'body-02': (
        size: 1.4rem,
        weight: 500,
        line-height: 150%,
    ),
);

@mixin typhography($typhography-name) {
    @if (not map-has-key($typhography-map, $typhography-name)) {
        @error 'typhograpy값을 확인해주세요';
    }

    $typhography-value: map-get($typhography-map, $typhography-name);
    $size: map-get($typhography-value, 'size');
    $weight: map-get($typhography-value, 'weight');
    $line-height: map-get($typhography-value, 'line-height');

    font-size: $size;
    font-weight: $weight;
    letter-spacing: $size * (-4/100);
    line-height: $line-height;
}
