@use "./createPaletteFunctions" as c;

//base palette
$primary-palette: c.palette(#2c5695);
$red-palette: c.palette(#f7471c);
$gray-palette: c.palette(#616161);
$light-gray-palette: c.palette(#e2e2e2);
$yellow-palette: c.palette(#febc22);
$green-palette: c.palette(#47d78a);
$black-palette: c.palette(#333333);
