//Background
$background-max-width: 1600px;
$background-padding-side: 100px;
$background-padding-vertical: 50px;

//Auth
$auth-wrapper-max-width: 500px;
$auth-wrapper-min-width: 300px;
$auth-wrapper-paading-side: 24px;
$auth-wrapper-paading-vertical: 40px;

//Side bar
$sidebar-width: 360px;
$sidebar-padding-side: 20px;
$sidebar-padding-vertical: 46px;

// Logout Button
$logout-hegiht: 60px;
$logout-padding-side: 4px;

// Category
$group-gap: 28px;
$pageName-margin-left: 12px;
$pageName-padding: 4px;
