//Side bar
$sidebar-width: 360px;
$sidebar-padding-side: 20px;
$sidebar-padding-vertical: 46px;

// Logout Button
$logout-hegiht: 60px;
$logout-padding-side: 4px;

// Category
$group-gap: 28px;
$pageName-margin-left: 12px;
$pageName-padding: 4px;
