@use "@style/abstracts" as a;

.link {
  display: block;

  text-align: center;

  color: a.$primary-color;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: a.$primary-hover-color;
  }

  &:active {
    color: a.$primary-active-color;
  }

  @include a.typhography("body-01-b");
}
