@use '@style/abstracts' as a;

.input_wrapper {
    display: flex;
    flex-direction: column;

    gap: 6px;
}

.input_title {
    display: block;
    color: a.$text-color;
    &.has_value {
        color: a.$primary-color;
        @include a.typhography('body-01-b');
    }
}

.input_box {
    display: flex;
    justify-content: space-between;

    width: calc(100% - 1px);

    padding: 1px;

    border: 1px solid a.$light-gray-color;
    border-radius: 4px;

    &.has_value {
        border: 1px solid a.$primary-color;
    }

    input {
        @include a.typhography('body-01');
        width: calc(100% - 24px);
        height: calc(100% - (1.2em * 2));
        padding: 1.2em 12px;
    }
    &:focus-within {
        border: 1px solid a.$primary-color;
        box-shadow: a.$basic-shadow;
    }
}

.hide_button {
    @include a.typhography('sub-02');
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
    color: a.$gray-color;
    &:hover {
        cursor: pointer;
        color: a.$primary-color;
    }
}
