@use '@style/abstracts' as a;
.loading_box {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_icon {
    color: a.$gray-color;
    @include a.typhography('tit-03');
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    100% {
        transform: rotate(1turn);
    }
}
