@use '@style/abstracts' as a;

.page_category_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;

    overflow: hidden;

    transform-origin: top;

    transition: height 0.2s ease-in-out;
}
