@use "@/style/abstracts" as a;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @for $i from 0 through 7 {
    &.gap-#{$i} {
      @include a.spacing-gap($i);
    }
  }
}
