@use "@/style/fontSize";
@use "@/style/color";

.wrapper {
  position: fixed;
  top: -30px;
  width: 100%;
  z-index: 99999999;
  &.slideUp {
    animation: slideUp 0.5s ease-in-out forwards;
  }

  &.slideDown {
    animation: slideDown 0.5s ease-in-out forwards;
  }
}

@keyframes slideUp {
  from {
    top: 10px;
    opacity: 1;
  }
  to {
    top: -30px;
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    top: -30px;
  }
  to {
    top: 10px;
  }
}
