@use '@style/abstracts' as a;
.toast_alert {
    position: absolute;

    top: -5%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 50px;

    z-index: 999999;

    opacity: 0;

    border-radius: 8px;

    transform: translateX(-50%);

    @include a.typhography('body-01-b');

    cursor: pointer;
    animation-name: none;

    &.success {
        animation: show 1s ease-in-out forwards;
        background-color: a.$success-color;
    }
    &.error {
        animation: show 1s ease-in-out forwards;
        background-color: a.$error-color;
    }
    &.loading {
        animation: show 1s ease-in-out forwards;
        background-color: a.$loading-color;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        top: -10%;
    }

    70% {
        top: 6%;
    }

    100% {
        opacity: 1;
        top: 5%;
    }
}
