@use '@style/abstracts' as a;

.content_wrapper {
    position: relative;
    height: 100dvh;

    @include a.media-query('small') {
        margin-left: 0;
    }
    @include a.media-query('middle') {
        margin-left: a.$sidebar-width;
    }
}
