@use "@/style/abstracts" as a;

.wrapper {
  min-height: 100dvh;
  max-height: 100dvh;

  overflow: scroll;

  transition: padding-left 0.25s ease-in-out;

  @include a.media-query("small") {
    padding: 0;
  }

  @include a.media-query("middle") {
    padding-left: a.$sidebar-width + a.$user-page-padding-middle;
    padding-top: a.$user-page-padding-middle;
    padding-right: a.$user-page-padding-middle;

    &.close {
      padding-left: a.$user-page-padding-middle;
    }
  }

  @include a.media-query("large") {
    padding-left: a.$sidebar-width + a.$user-page-padding-large;
    padding-top: a.$user-page-padding-large;
    padding-right: a.$user-page-padding-large;

    &.close {
      padding-left: a.$user-page-padding-large;
    }
  }
}
