@use '@style/abstracts' as a;
.scroll_guide_box {
    position: absolute;

    @include a.typhography('body-01');
    color: a.$text-color;
    background-color: a.$light-gray-color;
    padding: 3px;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 90%;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    @include a.typhography('sub-01');
    animation: downAnimation 1s infinite;
}

@keyframes downAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}
