@use '@style/abstracts' as a;

.modal_background {
    position: absolute;

    backdrop-filter: blur(4px);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.modal_icon {
    @include a.typhography('tit-03');
}

.modal_box {
    position: absolute;
    background-color: white;
    z-index: 9999;
    @include a.typhography('body-01');
    width: fit-content;
    padding: 20px 10px;
    border-radius: 4px;

    box-shadow: a.$basic-shadow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
