@use '@style/abstracts' as a;
.wrapper {
    width: 100%;
    height: 100%;
}

.title {
    @include a.typhography('tit-03');
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
    gap: 12px;
}

.input {
    @include a.typhography('body-01');

    font-weight: 300;
    padding: 12px 24px;

    border-radius: 4px;
}

.submit_button {
    @include a.typhography('sub-02');
    background-color: a.$primary-color;
    color: a.$white-color;
    font-weight: 500;
    padding: 12px 4px;
    border-radius: 4px;
}
