@use "@/style/color";

.paragraph {
  // Text alignment

  &.text-left {
    text-align: left;
  }
  &.text-center {
    text-align: center;
  }
  &.text-right {
    text-align: right;
  }

  // Display options
  &.block {
    display: block;
  }
  &.inline {
    display: inline;
  }

  // Text colors
  &.primary {
    color: color.$primary-color;
  }
  &.gray {
    color: color.$gray-color;
  }
  &.light-gray {
    color: color.$light-gray-color;
  }
  &.red {
    color: color.$red-color;
  }
  &.green {
    color: color.$green-color;
  }
  &.yellow {
    color: color.$yellow-color;
  }
  &.black {
    color: color.$black-color;
  }
  &.white {
    color: color.$white-color;
  }
}
