@use "@style/abstracts" as a;

.social-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.title {
  color: a.$gray-button-color;
  text-align: center;
  margin-bottom: 8px;
  @include a.typhography("body-01");
}
