@use "@/style/abstracts" as a;

.submit-button {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  height: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  width: 100%;

  background-color: a.$white-color;

  box-shadow: a.$basic-shadow;

  border-radius: a.$border-radius;

  color: a.$gray-color;

  cursor: pointer;

  transition: color 0.25s, box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: a.$hover-shadow;
    color: a.$gray-hover-color;
  }

  &:active {
    color: a.$gray-active-color;
  }
  @include a.typhography("tit-01");
}

.input {
  text-align: center;

  background: none;

  color: a.$text-color;

  &:placehoder {
    color: a.$text-color;
  }

  @include a.media-query("small") {
    @include a.typhography("body-01");
  }

  @include a.media-query("middle") {
    @include a.typhography("sub-02");
  }
}
