@use "@style/abstracts" as a;

.input {
  width: 100%;

  background: none;

  padding: 1.25em 0.75em;

  border-radius: a.$border-radius;

  transition: box-shadow 0.25s ease-in-out;

  &.primary {
    background-color: a.$primary-button-color;
    color: a.$white-color;

    &::placeholder {
      color: a.$white-color;
    }
  }

  &.default {
    background-color: a.$text-color;
    color: a.$white-color;

    &::placeholder {
      color: a.$white-color;
    }
  }

  &.gray {
    background-color: a.$light-gray-button-color;
    color: a.$text-color;

    &::placeholder {
      color: a.$text-color;
    }
  }

  &.warn {
    background-color: a.$red-button-color;
    color: a.$white-color;

    &::placeholder {
      color: a.$white-color;
    }
  }

  &.border {
    border-width: 1px;
    border-style: solid;
    background-color: a.$white-color;
    color: a.$text-color;

    &::placeholder {
      color: a.$text-color;
    }

    &.primary {
      border-color: a.$primary-button-color;
    }
    &.default {
      border-color: a.$text-color;
    }
    &.gray {
      border-color: a.$light-gray-button-color;
    }
    &.warn {
      border-color: a.$red-button-color;
    }
  }

  &:disabled {
    color: a.$gray-button-color;
  }

  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }

  &::placeholder {
    @include a.typhography("body-01");
  }

  &:focus {
    box-shadow: a.$basic-shadow;
  }

  @include a.typhography("body-01");
}
