@use "@style/abstracts" as a;

.input {
  width: 100%;

  padding: 1.25em 0.75em;

  border-radius: a.$border-radius;
  border-width: 1px;
  border-style: solid;

  transition: box-shadow 0.25s ease-in-out;

  // Color Theme
  &.primary {
    border-color: a.$primary-button-color;
  }
  &.default {
    border-color: a.$text-color;
  }
  &.gray {
    border-color: a.$light-gray-button-color;
  }
  &.warn {
    border-color: a.$red-button-color;
  }

  // Text Alignment
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }

  // Disabled
  &:disabled {
    color: a.$gray-button-color;
    border-color: a.$gray-button-color;

    background: a.$gray-button-hover-color;

    &::placeholder {
      color: a.$gray-button-color;
    }
  }

  &::placeholder {
    @include a.typhography("body-01");
    color: a.$text-color;
  }

  &:focus {
    box-shadow: a.$basic-shadow;
  }

  @include a.typhography("body-01");
}
