@use '@style/abstracts' as a;

.logotext {
    font-size: 90px;
    font-weight: 900;
    color: a.$primary-color;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
