@use "@style/abstracts" as a;
@use "../Common/common";
.input {
  width: 100%;

  padding: 0.5em 0;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: a.$light-gray-button-color;

  transition: border-color 0.25s ease-in-out;

  &::placeholder {
    color: a.$black-button-color;
  }

  &:disabled {
    background: none;
    border-color: a.$light-gray-button-color;
    color: a.$light-gray-button-color;
    &::placeholder {
      color: a.$light-gray-button-color;
    }
  }

  &:focus {
    border-color: a.$black-button-color;
  }

  @include common.text-align();
  @include a.typhography("body-01");
}
