$background-top-bottom-padding: 50px;
$background-height: calc(100dvh - ($background-top-bottom-padding * 2));

.ul {
    width: 100%;
    height: $background-height;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.li {
    background-color: burlywood;
    height: $background-height;
    border: 1px solid black;
    scroll-snap-align: start;
}
