@use "@/style/abstracts" as a;

/**
- Box Button Common Style
    @include common.button-inline;
    @include common.button-block;
    @include common.box-button-basic-square-style;
    @include common.box-button-basic-style;
    @include common.box-button-basic-hover-style;
    
    
*/

@mixin button-inline {
  display: inline-flex;
}

@mixin button-block {
  &.block {
    width: 100%;
    display: flex;
  }
}

@mixin box-button-basic-square-style {
  &.square {
    display: flex;

    padding: 0;

    aspect-ratio: 1 / 1; // 정사각형 비율 유지
  }
}

@mixin box-button-basic-style {
  padding: a.$auth-button-padding;

  border-radius: a.$border-radius;

  cursor: pointer;

  justify-content: center;
  align-items: center;

  @include a.typhography("body-01");
}

@mixin box-button-basic-hover-style {
  &:hover {
    box-shadow: a.$basic-shadow;
  }
}
