@use '@style/abstracts' as a;

.social_button {
    background-color: a.$white-color;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    box-shadow: a.$basic-shadow;

    transition: 0.25s;
    cursor: pointer;

    &:hover {
        background-color: a.$light-gray-color;
    }

    @include a.typhography('sub-02');

    &.google {
        color: #cf4333;
    }
}
