@use "@/style/color";
@use "@/style/spacing";
@use "@/style/shadow";
.button {
  border-radius: 4px;
  gap: spacing.$spacing-value-1;
  cursor: pointer;

  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;

  &.block {
    width: 100%;
    display: block;
  }

  &.inline {
    display: inline;
  }

  &.text-left {
    text-align: left;
  }

  &.text-center {
    text-align: center;
  }

  &.text-right {
    text-align: right;
  }
  &.primary {
    color: color.$primary-color;
    &:hover {
      color: color.$primary-hover-color;
    }
    &:active {
      color: color.$primary-active-color;
    }
  }

  &.black {
    color: color.$black-color;
    &:hover {
      color: color.$black-hover-color;
    }
    &:active {
      color: color.$black-active-color;
    }
  }

  &.gray {
    color: color.$gray-color;
    &:hover {
      color: color.$gray-hover-color;
    }
    &:active {
      color: color.$gray-active-color;
    }
  }

  &.light-gray {
    color: color.$light-gray-color;
    &:hover {
      color: color.$light-gray-hover-color;
    }
    &:active {
      color: color.$light-gray-active-color;
    }
  }

  &.red {
    color: color.$red-color;
    &:hover {
      color: color.$red-hover-color;
    }
    &:active {
      color: color.$red-active-color;
    }
  }

  &.yellow {
    color: color.$yellow-color;
    &:hover {
      color: color.$yellow-hover-color;
    }
    &:active {
      color: color.$yellow-active-color;
    }
  }

  &.green {
    color: color.$green-color;
    &:hover {
      color: color.$green-hover-color;
    }
    &:active {
      color: color.$green-active-color;
    }
  }

  &.white {
    color: color.$white-color;
    &:hover {
      color: color.$light-gray-color;
    }
    color: color.$light-gray-active-color;
  }
}

.button-text {
  position: relative;
  top: 0.02em;
}
