@use '@style/abstracts' as a;
.button_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 12px);
    height: 100%;

    left: 12px;

    gap: 8px;

    @include a.typhography('body-01-b');

    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: a.$light-gray-color;
    }
}

.title {
    position: relative;
    right: 12px;
}

.icon {
    position: relative;
    @include a.typhography('sub-02');
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
