@use '@style/abstracts' as a;

$navigation-padding-side: 20px;
$navigation-width: 360px - $navigation-padding-side * 2;

.navigation_wrapper {
    position: fixed;
    z-index: 9999;
    width: $navigation-width;
    height: calc(100dvh - 60px - 20px);
    padding: 46px $navigation-padding-side;

    background-color: a.$white-color;
    box-shadow: a.$basic-shadow;
}

.content_wrapper {
    position: relative;

    margin-left: 360px;

    height: 100dvh;
}
