@use '@style/abstracts' as a;

$navigation-padding-side: 20px;
$navigation-width: 360px - $navigation-padding-side * 2;

.navigation_wrapper {
    position: fixed;
    z-index: 9999;
    width: $navigation-width;

    height: 100dvh;
    padding: 46px $navigation-padding-side;

    background-color: a.$white-color;
    box-shadow: a.$basic-shadow;
}

.content_wrapper {
    position: relative;
    height: 100%;

    @include a.media-query('small') {
        margin-left: 0;
    }
    @include a.media-query('middle') {
        margin-left: 360px;
    }
}
