@use "@/style/abstracts" as a;
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  border-radius: a.$border-radius;

  &:hover {
    background-color: a.$gray-hover-color;
    color: white;
  }

  &:active {
    background-color: a.$gray-active-color;
    color: white;
  }

  @include a.typhography("body-01");
}
