@use '@style/abstracts' as a;
.page_contatiner {
    display: flex;
    gap: 40px;
    justify-content: start;
    flex-wrap: wrap;
}

.page_item {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.page_item_image {
    background-color: a.$white-color;

    height: 400px;
    border: 1px solid a.$light-gray-color;
    border-radius: 4px;

    transition: box-shadow 0.25s ease-in-out;

    &:hover {
        box-shadow: a.$hover-shadow;
    }
}

.page_info {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.page_title {
    @include a.typhography('sub-02');
    overflow: hidden;
    text-overflow: ellipsis;

    transition: color 0.25s ease-in-out;

    &:hover {
        color: a.$gray-color;
    }
}

.page_info_icons {
    display: flex;
    gap: 12px;
}

.page_info_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    @include a.typhography('sub-02');
    cursor: pointer;

    transition: color 0.25s ease-in-out;
    &:hover {
        color: a.$gray-color;
    }
}
