@use "@/style/abstracts" as a;

.flex-box {
  &.box-shadow {
    box-shadow: a.$basic-shadow;
  }

  &.border-radius {
    border-radius: a.$border-radius;
  }

  &.bg-default {
    background-color: a.$background-color;
  }

  &.bg-primary {
    background-color: a.$primary-color;
  }

  &.bg-gray {
    background-color: a.$gray-color;
  }

  &.bg-white {
    background-color: a.$white-color;
  }

  &.bg-none {
    background: none;
  }

  &.border-default {
    border: 1px solid a.$default-color;
  }

  &.border-primary {
    border: 1px solid a.$primary-color;
  }

  &.border-gray {
    border: 1px solid a.$gray-color;
  }

  &.border-light-gray {
    border: 1px solid a.$light-gray-color;
  }

  &.border-none {
    border: none;
  }

  @for $i from 0 through 7 {
    &.spacing-vertical-#{$i} {
      @include a.spacing-vertical($i);
    }

    &.spacing-horizontal-#{$i} {
      @include a.spacing-horizontal($i);
    }

    &.gap-#{$i} {
      @include a.spacing-gap($i);
    }
  }
}
