@use "@style/abstracts" as a;

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  width: calc(a.$sidebar-width - a.$sidebar-padding-side * 2);

  padding: 8px 4px;

  text-align: left;
  color: a.$text-color;

  cursor: pointer;

  border-bottom: 1px solid a.$light-gray-button-color;

  transition: background-color 0.25s ease-in-out;

  overflow: hidden;

  &:hover {
    background-color: a.$light-gray-button-color;
    color: a.$text-color;
  }

  &.body-01 {
    @include a.typhography("body-01");
  }
  &.body-02 {
    @include a.typhography("body-02");
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &.body-01 {
    @include a.typhography("body-01");
  }
  &.body-02 {
    @include a.typhography("body-02");
  }
}

.title {
  max-width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;
}
