@use "@/style/color";
@use "@/style/fontSize";
@use "@/style/spacing";
@use "@/style/variables";
.link {
  display: flex;
  background-color: color.$white-color;
  color: color.$text-color;
  @include fontSize.font-size("body-01");
  align-items: center;
  gap: spacing.$spacing-value-2;
  border-radius: variables.$border-radius;

  border: 1px solid transparent;

  transition: border 0.2s ease-in-out;

  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    border: 1px solid color.$light-gray-color;
  }

  &.is-open {
    border: 1px solid color.$white-color;
    color: color.$primary-color;

    &:hover {
      border: 1px solid color.$light-gray-color;
    }
  }

  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  position: relative;
  top: 1px;
}
