@use '@style/abstracts' as a;
.logout_button {
    width: calc(100% - 2 * #{a.$logout-padding-side});
    height: a.$logout-hegiht;

    padding: 0 a.$logout-padding-side;

    display: flex;
    align-items: center;
    gap: 8px;

    background-color: a.$white-color;

    @include a.typhography('body-01-b');

    border-radius: 4px;

    cursor: pointer;

    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: a.$hover-shadow;
    }
}

.logout_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    @include a.typhography('tit-03');
}
