@use '@style/abstracts' as a;
.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    color: a.$gray-color;
    @include a.typhography('sub-02');

    &.current {
        color: a.$primary-color;
    }
}

.title {
    position: relative;

    left: 0;

    padding: 4px;

    display: block;

    border-radius: 4px;

    transition: left 0.25s;

    width: fit-content;

    white-space: nowrap;

    @include a.typhography('sub-02');

    &:hover {
        left: 5px;
    }

    &.current {
        color: a.$primary-color;
    }
}
