.auth-slide-container {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
}
