@use "@/style/color";

//Global ClassName
@mixin border-color {
  .border-primary {
    border: 1px solid color.$primary-color;
  }

  .border-black {
    border: 1px solid color.$black-color;
  }

  .border-gray {
    border: 1px solid color.$gray-color;
  }

  .border-light-gray {
    border: 1px solid color.$light-gray-color;
  }

  .border-red {
    border: 1px solid color.$red-color;
  }

  .border-yellow {
    border: 1px solid color.$yellow-color;
  }

  .border-green {
    border: 1px solid color.$green-color;
  }

  .border-white {
    border: 1px solid color.$white-color;
  }
}
