$primary: #2c5695;
$primary-hover: #3867ae;
$primary-active: #254a81;

$white: #fff;

$back-ground: #fbfbfb;
$text-color: #333333;

$gray: #8b8b8b;
$light-gray: #e2e2e2;
$shadow-color: #efefef;

$error-color: #ff9a9a;
$loading-color: #ffef9a;
$success-color: #54b952;
