@use "./palette";

// Special Colors
$white-color: #fff;
$background-color: #fbfbfb;
$text-color: palette.base(palette.$black-palette);
$shadow-basic-color: #efefef;
$modal-background-color: rgba(143, 143, 143, 0.5);

// Primary Color
$primary-color: palette.base(palette.$primary-palette);
$primary-hover-color: palette.light(palette.$primary-palette);
$primary-active-color: palette.dark(palette.$primary-palette);

// Gray Color
$gray-color: palette.base(palette.$gray-palette);
$gray-hover-color: palette.light(palette.$gray-palette);
$gray-active-color: palette.dark(palette.$gray-palette);

// Light Gray Color
$light-gray-color: palette.base(palette.$light-gray-palette);
$light-gray-hover-color: palette.light(palette.$light-gray-palette);
$light-gray-active-color: palette.dark(palette.$light-gray-palette);

// Red Color
$red-color: palette.base(palette.$red-palette);
$red-hover-color: palette.light(palette.$red-palette);
$red-active-color: palette.dark(palette.$red-palette);

// Yellow Color
$yellow-color: palette.base(palette.$yellow-palette);
$yellow-hover-color: palette.light(palette.$yellow-palette);
$yellow-active-color: palette.dark(palette.$yellow-palette);

// Green Color
$green-color: palette.base(palette.$green-palette);
$green-hover-color: palette.light(palette.$green-palette);
$green-active-color: palette.dark(palette.$green-palette);

// black Color
$black-color: palette.base(palette.$black-palette);
$black-hover-color: palette.light(palette.$black-palette);
$black-active-color: palette.dark(palette.$black-palette);
