$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

@mixin font-weight-classes {
  .font-light {
    font-weight: $font-weight-light;
  }
  .font-regular {
    font-weight: $font-weight-regular;
  }
  .font-bold {
    font-weight: $font-weight-bold;
  }
}
