@use "@/style/color";

//Global ClassName
@mixin text-color {
  .text-primary {
    color: color.$primary-color;
  }

  .text-black {
    color: color.$black-color;
  }

  .text-gray {
    color: color.$gray-color;
  }

  .text-light-gray {
    color: color.$light-gray-color;
  }

  .text-red {
    color: color.$red-color;
  }

  .text-yellow {
    color: color.$yellow-color;
  }

  .text-green {
    color: color.$green-color;
  }

  .text-white {
    color: color.$white-color;
  }
}
