// Global
$border-radius: 4px;

//Auth
$auth-page-wrapper-width: 400px;
$auth-button-padding: 1.25em 0.75em;

//Side bar
$sidebar-width: 240px;
$sidebar-padding-side: 24px;
$sidebar-padding-vertical: 36px;

// Avatar
$avatar-width: 48px;
$avatar-height: 48px;
$dropdown-min-width: 100px;

// UserPage
$user-page-padding-middle: 50px;
$user-page-padding-large: 100px;

// Indicator
$indicator-button-width: 24px;
$indicator-button-height: 5px;
