@use "@/style/abstracts" as a;

.input-wrapper {
  display: flex;
  flex-direction: column;
  @include a.typhography("body-01");
}

.input-box {
  display: flex;

  width: 100%;

  padding: 1.25em 0.75em;

  border: 1px solid a.$light-gray-color;
  border-radius: 4px;

  background-color: a.$white-color;

  &:focus-within {
    border: 1px solid a.$primary-color;
    box-shadow: a.$basic-shadow;
  }

  &.on-text {
    border: 1px solid a.$primary-color;
  }

  &.disabled {
    border: 1px solid a.$gray-color;
  }
}

.input {
  width: 100%;
  height: 100%;

  background: none;

  @include a.typhography("body-01");

  &:disabled {
    color: a.$gray-color;
  }
}

.label {
  display: block;

  color: a.$text-color;

  &.on-text {
    color: a.$primary-color;
    @include a.typhography("body-01-b");
  }
}

.password-toggle-button {
  display: flex;

  color: a.$gray-color;

  &:hover {
    cursor: pointer;
    color: a.$primary-color;
  }

  &:disabled {
    pointer-events: none;
  }

  @include a.typhography("sub-02");
}
