@use "@/style/color";
@use "@/style/spacing";
@use "@/style/variables";
.modal-background {
  position: absolute;
  z-index: 9999999999;
  background-color: color.$modal-background-color;

  max-width: 100dvw;
  max-height: 100dvh;
  min-width: 100dvw;
  max-height: 100dvh;

  width: 100dvw;
  height: 100dvh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: color.$white-color;
  max-width: 400px;
  min-width: 320px;
  width: 100%;

  padding: spacing.$spacing-value-4;
  border-radius: variables.$border-radius;

  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-value-3;

  animation: modal-appear 0.3s ease-in-out;
}

@keyframes modal-appear {
  from {
    top: 48%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
