@use '@style/abstracts' as a;

.link_text {
    display: block;

    text-align: center;

    @include a.typhography('body-01-b');
    color: a.$primary-color;

    &:hover {
        color: a.$primary-hover-color;
    }
}

.auth_wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
