@use "@style/abstracts" as a;

.unauthorized-wrapper {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.auth-slide-wrapper {
  flex-grow: 3;

  @include a.media-query("small") {
    display: none;
  }
  @include a.media-query("middle") {
    display: block;
  }
}

.auth-page-wrapper {
  position: relative;

  height: 100dvh;

  flex-grow: 1;

  @include a.media-query("small") {
    min-width: 100%;
    max-width: 100%;
    min-height: 100dvh;
    max-width: 100dvh;
  }
  @include a.media-query("middle") {
    min-width: 400px;
    max-width: 400px;
    min-height: 100dvh;
    max-width: 100dvh;
  }
}
