@use "@style/abstracts" as a;

.unauthorized-wrapper {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.auth-slide-wrapper {
  flex-grow: 3;

  @include a.media-query("small") {
    display: none;
  }
  @include a.media-query("middle") {
    display: block;
  }
}

.auth-page-wrapper {
  position: relative;

  min-width: 400px;
  height: 100%;

  flex-grow: 1;
}
