@use "@/style/mediaQuery";
@use "@/style/variables";

.unauthorized-wrapper {
  max-width: 100dvw;
  width: 100dvw;
  height: 100dvh;

  display: flex;

  @include mediaQuery.media-query("small") {
    padding: 0;
  }
  @include mediaQuery.media-query("middle") {
    padding: 0 20px;
  }

  @include mediaQuery.media-query("large") {
    padding: 0 100px;
  }
}

.auth-slide-wrapper {
  position: relative;
  flex-grow: 3;

  @include mediaQuery.media-query("small") {
    display: none;
  }
  @include mediaQuery.media-query("middle") {
    display: block;
  }
}

.auth-page-wrapper {
  position: relative;
  flex-grow: 1;

  // small인 경우 Auth Page의 크기가 꽉차도록 설정된 것
  @include mediaQuery.media-query("small") {
    min-width: 100%;
    max-width: 100%;
    min-height: 100dvh;
    max-width: 100dvh;
  }

  //middle 이후 Auth Page의 크기가 400px로 고정
  //max-wdith를 추가해서 안쪽 컨텐츠가 400px보다 커지지 않도록 설정
  @include mediaQuery.media-query("middle") {
    min-width: variables.$auth-page-wrapper-width;
    max-width: variables.$auth-page-wrapper-width;
    min-height: 100dvh;
    max-width: 100dvh;
  }
}
