@use '@style/abstracts' as a;

.sidebar {
    position: relative;

    height: calc(100% - 2 * #{a.$sidebar-padding-vertical});

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.category_wrapper {
    overflow-y: scroll;

    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.line {
    width: 100%;
    border: 1px solid a.$light-gray-color;
}

.title {
    @include a.typhography('sub-02');
}
