@use '@style/abstracts' as a;

.input_button {
    @include a.typhography('body-01-b');
    color: a.$white-color;

    padding: 20px 0;

    border-radius: 4px;

    background-color: a.$primary-color;

    cursor: pointer;

    &:hover {
        background-color: a.$primary-hover-color;
    }

    &:disabled {
        background-color: a.$light-gray-color;
        pointer-events: none;
    }
}
