@use "@/style/abstracts" as a;

.background {
  position: absolute;
  z-index: 99999999999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;

  background-color: rgba(143, 143, 143, 0.5);
}
