@use '@style/abstracts' as a;

.link_text {
    @include a.typhography('body-01-b');

    text-align: center;

    color: a.$primary-color;

    &:hover {
        color: a.$primary-hover-color;
    }
}

.auth_wrapper {
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 60px;
}
