@use '@style/abstracts' as a;

.link_text {
    @include a.typhography('body-01-b');

    text-align: center;

    color: a.$primary-color;

    &:hover {
        color: a.$primary-hover-color;
    }
}

.auth_wrapper {
    position: relative;

    height: 100%;
    display: flex;
    flex-direction: column;
}
