@use '@style/abstracts' as a;

.link_text {
    display: block;

    text-align: center;

    @include a.typhography('body-01-b');
    color: a.$primary-color;

    margin-bottom: 100px;

    &:hover {
        color: a.$primary-hover-color;
    }
}

.auth_wrapper {
    position: relative;

    height: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}
