@use "@style/abstracts" as a;
@use "../../Text/Common/common";

@mixin text-button-theme($color, $hover-color, $active-color) {
  color: $color;

  &:hover {
    color: $hover-color;
  }
  &:active {
    color: $active-color;
  }
}

.text-button {
  @include common.text-weight;
  @include common.text-align;

  @include common.text-inline;
  @include common.text-block;

  cursor: pointer;

  transition: color 0.25s ease-in-out;

  &.default {
    @include text-button-theme(
      a.$black-color,
      a.$black-hover-color,
      a.$black-active-color
    );
  }

  &.primary {
    @include text-button-theme(
      a.$primary-color,
      a.$primary-hover-color,
      a.$primary-active-color
    );
  }

  &.gray {
    @include text-button-theme(
      a.$gray-color,
      a.$gray-hover-color,
      a.$gray-active-color
    );
  }

  &.warn {
    @include text-button-theme(
      a.$red-color,
      a.$red-hover-color,
      a.$red-active-color
    );
  }

  &.light-gray {
    @include text-button-theme(
      a.$light-gray-color,
      a.$light-gray-hover-color,
      a.$light-gray-active-color
    );
  }
  &.tit-01 {
    @include a.typhography("tit-01");
  }

  &.tit-02 {
    @include a.typhography("tit-02");
  }

  &.tit-03 {
    @include a.typhography("tit-03");
  }

  &.disabled {
    pointer-events: none;
    color: a.$light-gray-color;
  }
}
