@use '@style/abstracts' as a;
.welcome-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 50%;
    left: 50%;
    gap: 40px;
    transform: translate(-50%, -50%);
}

.link {
    position: relative;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include a.typhography('sub-01');

    background-color: a.$white-color;
    border-radius: 4px;
    box-shadow: a.$basic-shadow;

    transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }

    &:first-child {
        background-color: a.$primary-color;
        color: a.$white-color;

        &:hover {
            background-color: a.$primary-hover-color;
        }
    }

    &:last-child {
        &:hover {
            box-shadow: a.$hover-shadow;
        }
    }
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
