@use '@style/abstracts' as a;

.group_category_wrapper {
    display: flex;
    flex-direction: column;
    gap: a.$group-gap;

    @include a.typhography('body-01');
}

.no_page {
    @include a.typhography('body-02');
    color: a.$gray-color;

    margin-left: a.$pageName-margin-left;

    padding: a.$pageName-padding;
}

.group_title_wrapper {
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
}

.group_title_button_wrapper {
    position: absolute;
    right: 0;
    display: flex;
    gap: 8px;

    button {
        @include a.typhography('body-01');

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: a.$gray-color;
        }
    }
}
