@use "@/style/abstracts" as a;

.avatar {
  width: a.$avatar-width;
  height: a.$avatar-height;

  background-color: a.$primary-color;

  color: a.$white-color;

  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: a.$primary-hover-color;
  }

  @include a.typhography("sub-02");
}
