@use "@/style/spacing";
.wrapper {
  position: relative;
  width: 100%;
  max-height: 100dvh;
  min-height: 100dvh;

  padding-left: spacing.$spacing-value-4;
  padding-top: spacing.$spacing-value-7;
}
