@use "@/style/color";
@use "@/style/spacing";
.wrapper {
  position: fixed;
  left: 0;

  background-color: color.$white-color;

  border-right: 1px solid color.$light-gray-color;

  padding: spacing.$spacing-value-6 spacing.$spacing-value-3;

  max-width: 300px;
  min-width: 300px;

  max-height: 100dvh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-value-4;

  transition: left 0.25s ease-in-out;

  overflow-y: scroll;
  scrollbar-width: none;

  &.close {
    left: -300px;
  }
}
