@use "@/style/color";
@use "@/style/spacing";
@use "@/style/shadow";
.button {
  border-radius: 4px;
  gap: spacing.$spacing-value-1;
  cursor: pointer;
  display: flex;

  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;

  &.block {
    width: 100%;
    display: flex;
  }

  &.inline {
    display: inline-flex;
  }

  &.text-left {
    justify-content: flex-start;
  }

  &.text-center {
    justify-content: center;
  }

  &.text-right {
    justify-content: flex-end;
  }

  &.primary {
    background-color: color.$primary-color;
    &:hover {
      background-color: color.$primary-hover-color;
    }
    &:active {
      background-color: color.$primary-active-color;
    }
    color: color.$white-color;
  }

  &.black {
    background-color: color.$black-color;
    &:hover {
      background-color: color.$black-hover-color;
    }
    &:active {
      background-color: color.$black-active-color;
    }
    color: color.$white-color;
  }

  &.gray {
    background-color: color.$gray-color;
    &:hover {
      background-color: color.$gray-hover-color;
    }
    &:active {
      background-color: color.$gray-active-color;
    }
    color: color.$white-color;
  }

  &.light-gray {
    background-color: color.$light-gray-color;
    &:hover {
      background-color: color.$light-gray-hover-color;
    }
    &:active {
      background-color: color.$light-gray-active-color;
    }
    color: color.$black-color;
  }

  &.red {
    background-color: color.$red-color;
    &:hover {
      background-color: color.$red-hover-color;
    }
    &:active {
      background-color: color.$red-active-color;
    }
    color: color.$white-color;
  }

  &.yellow {
    background-color: color.$yellow-color;
    &:hover {
      background-color: color.$yellow-hover-color;
    }
    &:active {
      background-color: color.$yellow-active-color;
    }
    color: color.$black-color;
  }

  &.green {
    background-color: color.$green-color;
    &:hover {
      background-color: color.$green-hover-color;
    }
    &:active {
      background-color: color.$green-active-color;
    }
    color: color.$white-color;
  }

  &.white {
    background-color: color.$white-color;
    &:hover {
      box-shadow: shadow.$basic-shadow;
    }
    color: color.$black-color;
  }

  &:disabled {
    background-color: color.$light-gray-color;
    color: color.$white-color;
    pointer-events: none;
  }
}
