@use "@/style/color";
@use "@/style/shadow";
.link {
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: inline-block;

  /** 
  * Background Color
    - white color는 특별하게 처리하기 때문에 따로 분리해놨습니다.
  */
  @each $color-name, $color-values in color.$color-configs {
    &.bg-#{$color-name} {
      background-color: map-get($color-values, base);

      &:hover {
        background-color: map-get($color-values, hover);
      }

      &:active {
        background-color: color.$primary-active-color;
      }
    }
  }
  &.bg-white {
    background-color: color.$white-color;

    &:hover {
      box-shadow: shadow.$basic-shadow;
    }

    &:active {
      background-color: color.$light-gray-color;
    }
  }

  &.disabled {
    opacity: 0.12;
    pointer-events: none;
  }
}
